################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpNN/bin/Debug
/CSharpNN/bin/x64/Debug
/CSharpNN/obj
/.vs/CSharpNN/v16/.suo
/CSharpNN/CSharpNN.csproj.user
